{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <h2>Pendientes</h2>
      <a href="/nuevo/" class="btn btn-primary">Nuevo</a>
      <hr>
      <ul>
      {% for item_order in item_orders_list %}
        {% if item_order.consumer.pk == user.pk %}
        <li><a href="{% url 'base:edit_item_order' item_order.pk %}">{{ item_order.item_name }} ({{ item_order.quantity }})</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="span9">
    </div>
  </div>
</div>
{% endblock %}
