{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <h2>Pendientes</h2>
      <a href="/nuevo/" class="btn btn-primary">Nuevo</a>
      <hr>
      <ul>
      {% for item_order in item_orders_list %}
        {% if item_order.consumer.pk == user.pk %}
        <li><a href="{% url 'base:edit_item_order' item_order.pk %}">{{ item_order.item_name }} ({{ item_order.quantity }})</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="span9">
      <h2>Podes Comprar</h2>

      <p>Si estas dispuesto a pagar ${{ consumer.shipping_contribution|floatformat:-2 }} de shipping podes hacer la compra ahora :)</p>
      <p>El total es ${{ consumer.package.total_cost|floatformat:-2 }} (${{ consumer.package.items_cost|floatformat:-2 }} la compra, ${{ consumer.package.shipping_cost|floatformat:-2 }} el envio)</p>

      {% include "base/shipping_bar.partial.html" %}

      <p>Junto con tus cosas, viajarian los siguientes articulos:</p>
      <ul>
      {% for item_order in item_orders_list %}
        {% if item_order.consumer.pk != user.pk %}
        <li>{{ item_order.item_name }} ({{ item_order.quantity }}) - para {{ item_order.consumer }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
